.main_container {
    height: 100vh;
}
.left-menu {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
.operator-menu:nth-child(1) {
    margin-top: 0px;
}
.operator-menu {
    height: 80px;
    border-bottom: 1px solid #BBB;
    border-right: 1px solid #BBB;
    background-color: #DDD;
    text-align: center;
    cursor: pointer;
}
.operator-menu.active {
    background-color: #fff;
}
.operator-menu > a {
    display: block;
}
.operator-menu > a > span {
    padding-top: 12px;
}
.operator-menu.active a span.fa {
    margin-right: 0px;
}
.operator-menu.active.col-md-12, 
.operator-menu.active.col-lg-12 {
    border-right: 1px solid white;
}
.operator-menu.active.col-sm-4, 
.operator-menu.active.col-xs-4 {
    border-bottom: 2px solid white;
}
.left-menu .operator-status {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #EEE;
    line-height: 3.2em;
}

.right-content {
    padding: 12px 0px 10px 0px;
    background-color: white;
    height: 100%;
}

/* -=-=-=-=-=-= CART -=-=-=-=-=-=*/
/* temporary hack */
/*

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
*/

.div-cart {
    overflow-y: auto;
}
.cart th {
    text-align: center;
    min-width: 0;
    padding: 0;
}
.cart tr {
    vertical-align: middle;
}
.cart-item .cell-description{
    cursor: pointer;
}
.cart th.cart-th-quantity{
    text-align: center;
}
.cart th.cart-th-subtotal, 
.cart th.cart-th-unit-price,
.cart th.cart-th-discount
{
    width: 100px;
    text-align: right;
}
.cart th.cart-th-description,
.cart tbody tr td.cell-description {
    text-align: left;
}
.cart tbody tr td.cell-description {
    color: #2A3F54;
}
.cart tbody tr td.cell-description small{
    font-size: 70%;
    color: #73879C;
}
.cart tbody tr td {
    text-align: right;
    font-size: 16px;
}
.cart tbody tr td.cell-quantity {
    width: 126px;
    text-align: center;
}
.cart tbody tr td.cell-unit-price {
    width: 100px;
}
.cell-quantity-input,
.cell-discount-input {
    margin-bottom: -3px;
    margin-top: -3px;
}
.cell-quantity-input input,
.cell-discount-input,
#edit_discount_input,
#edit_tax_input {
    text-align: right;
}
.discount_percentage_symbol,
.tax_percentage_symbol
{
    border-radius: 0px;
}
.cell-discount-input {
    width: 90%;
    float: right;
    padding-bottom: 2px;
    padding-top: 0px;
    padding-right: 4px;
    font-size: 16px;
    color: #73879C;
    border: none;
    font-weight: 400;
}
/* hide spinner button for input type=number */
.cell-discount-input::-webkit-inner-spin-button,
.cell-discount-input::-webkit-outer-spin-button,
.product-quantity::-webkit-inner-spin-button,
.product-quantity::-webkit-outer-spin-button,
#edit_discount_input::-webkit-inner-spin-button,
#edit_discount_input::-webkit-outer-spin-button, 
#edit_tax_input::-webkit-inner-spin-button,
#edit_tax_input::-webkit-outer-spin-button
{
        -webkit-appearance: none;
    margin: 0;
}
.cell-quantity .input-group-addon .fa {
    color: #808080;
}

.add_product {
    text-align: center !important;
    cursor: pointer;
}
/* -=-=-=-=-=-= RECEIPT -=-=-=-=-=-=*/
.receipt tbody {
    font-family: "Courier New";
    color: #111;
}

.receipt tr.subheader {
    border-bottom: 1px solid #ccc;
}

.receipt tr.subheader td{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 11px;
}

.receipt tr td small {
    font-size: 10px;
    color: #666;
}

.receipt tr td > span {
    line-height: inherit;
}

.receipt td:not(.condensed) { /* small hack to overwrite bootstrap style */
    font-size: 14px;
    border-top: none !important;
    padding-bottom : 0px;
    padding-top: 1px;
}

.receipt hr {
    margin: 0px;
}
.receipt td:last-child {
    text-align: right;
}

/* -=-=-=-=-=-= SUMMARY -=-=-=-=-=-=*/
.summary .customer {
    display: inline-block;
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #2A3F54;
    background-color: #F9F9F9;
    line-height: 2.9;
}
.customer .customer_detail {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
    text-decoration: underline;
}
.customer .add_customer {
    text-align: right;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
    line-height: 3.54;
    vertical-align: middle;
}
.summary .subtotal, 
.summary .discount,
.tendered_panel_1,
.tendered_panel_2{
    border-bottom: 1px dashed #F0F0F0;
}

.summary .subtotal, 
.summary .discount,
.summary .tax, 
.summary .tendered_panel_1,
.summary .tendered_panel_2, 
.summary .tendered_panel_3 {
    color: #FAFAFA;
    background-color: #73879C;
    font-size: 24px;
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 8px;
}
.summary .discount:hover,
.summary .tax:hover {
    background-color: #2A3F54;
}
.summary .discount,
.summary .tax {
    cursor: pointer;
}
.summary .discount span{
    color: #ffd3d3;
}
.total {
    font-size: 42px;
    font-weight: 400;
    text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #2A3F54;
}

.cash-buttons, .more-buttons, .done_button {
    padding-left: 0px;
    padding-right: 0px;
}

.tendered_panel_3 {
    cursor: pointer;
}

.tendered_panel_4 {
    margin: 0px;
    color: #2A3F54;
    border: 1px solid white;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.tendered_panel_1 div,
.tendered_panel_2 div
{
    text-align: center;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}
.cash-buttons .cash,
.cash-buttons .credit,
.more-buttons .save-button,
.more-buttons .more-button,
.done_button .btn
 {
    margin: 0px;
    border-radius: 3px;
    border: 1px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 4px;
}
.more-buttons .btn {
    color: #2A3F54;
    background-color: #E9E9E9;
    font-weight: 400;
}
.more-buttons .dropdown-menu{
    padding-top: 4px;
}
.more-buttons .dropdown-menu > li {
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
}
.more-buttons .dropdown-menu > li > a {
    line-height: 36px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 300;
}
.cash-buttons .btn,
.done_button .btn {
    color: #F0F0F0;    
    background-color: #2A3F54;    
}
.cash-buttons .btn:hover,
.done_button .btn:hover {
    background-color: #73879C;
}
.done {
    height: 64px;
}

/* -=-=-=-=-=-= PRODUCTS -=-=-=-=-=-=*/
.products {
    position: absolute;
    bottom: 12px;
    left: 0;
}
.products .col-xs-12:nth-child(1) .product {
    border-top: 1px dotted #DDD;
}

.product:nth-child(1){
    border-left: 1px dotted #DDD;
}
.product {
    height: 76px;
    padding: 10px;
    border-bottom: 1px dotted #DDD;
    border-right: 1px dotted #DDD;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product:hover {
    background-color: #F8F8F8;
}
